<autofac>
  <components>
    <component type="Just.Rev.RevCleanerCtrl, Just.Rev" service="Just.Base.IDependency,Just.Base" name="RevCleanerCtrl"/>
    <component type="Just.MongoDB.MongoSyncCtrl, Just.MongoDB" service="Just.Base.IDependency,Just.Base" name="MongoSyncCtrl"/>
    <component type="Just.VersionFile.VersionFileCtrl, Just.VersionFile" service="Just.Base.IDependency,Just.Base" name="VersionFileCtrl"/>
    <component type="Just.WebsiteMklink.WebsiteMklinkCtrl, Just.WebsiteMklink" service="Just.Base.IDependency,Just.Base" name="WebsiteMklinkCtrl"/>
    <component type="Just.LogUDPClient.LogUDPCtrl, Just.LogUDPClient" service="Just.Base.IDependency,Just.Base" name="LogUDPCtrl"/>
    <component type="Just.RegexNet.RegexNetCtrl, Just.RegexNet" service="Just.Base.IDependency,Just.Base" name="RegexNetCtrl"/>
    <component type="Just.ExtractTfs.ExtractTfsCtrl, Just.ExtractTfs" service="Just.Base.IDependency,Just.Base" name="ExtractTfsCtrl"/>
    <component type="Just.Data.SqlCtrl, Just.Data" service="Just.Base.IDependency,Just.Base" name="SqlCtrl"/>
    <component type="Just.Attachment.AttaClearCtrl, Just.Attachment" service="Just.Base.IDependency,Just.Base" name="AttaClearCtrl"/>
    <component type="Just.iKey.iKeyEditCtrl, Just.iKey" service="Just.Base.IDependency,Just.Base" name="iKeyEditCtrl"/>
    <component type="Just.Data.i09SignImg, Just.Data" service="Just.Base.IDependency,Just.Base" name="i09SignImg"/>
    <component type="Just.Data.i07SealImg, Just.Data" service="Just.Base.IDependency,Just.Base" name="i07SealImg"/>
    <component type="Just.DistEditor.DistEditorCtrl, Just.DistEditor" service="Just.Base.IDependency,Just.Base" name="DistEditorCtrl"/>
    <component type="Just.Crypto.AESCtrl, Just.Crypto" service="Just.Base.IDependency,Just.Base" name="AESCtrl"/>
  </components>
</autofac>