<autofac>
  <components>
    <component type="Just.Rev.RevCleanerCtrl, Just.Rev" service="Just.Base.IDependency,Just.Base" name="RevCleanerCtrl"/>
    <component type="Just.MongoDB.MongoSyncCtrl, Just.MongoDB" service="Just.Base.IDependency,Just.Base" name="MongoSyncCtrl"/>
    <component type="Just.VersionFile.VersionFileCtrl, Just.VersionFile" service="Just.Base.IDependency,Just.Base" name="VersionFileCtrl"/>
    <component type="Just.RegexNet.RegexNetCtrl, Just.RegexNet" service="Just.Base.IDependency,Just.Base" name="RegexNetCtrl"/>
    <component type="Just.WebsiteMklink.WebsiteMklinkCtrl, Just.WebsiteMklink" service="Just.Base.IDependency,Just.Base" name="WebsiteMklinkCtrl"/>
    <component type="Just.ExtractTfs.ExtractTfsCtrl, Just.ExtractTfs" service="Just.Base.IDependency,Just.Base" name="ExtractTfsCtrl"/>
  </components>
</autofac>